{% extends "AppBundle:Amministratore:Abase.html.twig" %}

{% block title %}Articoli visualizzazione{% endblock %}

{% block corpo %}

<div class="span12">
    <h4>Gestisci articoli</h4>
</div>
<section>
    <tr>
        <td align="right">
            <input autocomplete="off" id="cerca" class="search order-search" placeholder="Cerca per nome,cognome.." style="width:210px; height:27px; margin-right:8px;" value="" type="text">	        			    				        			            	
            <a href="nuovocliente.html" id="modal_addclient" class="btn-flat primary" role="button" style="border-radius:2px;">Ricerca</a>
            <a class="btn-flat primary" style="border-radius:2px; cursor:pointer; margin-right:18px; padding: 3px 5px 3px 3px;" href="{{ path('AnuovoArticolo') }}">+ Categoria</a>
        </td>
    </tr>
</section>
<section class="t1" >
    <table class="table table-hover">
        <thead> 
            <tr>
                <th class="span2">Id</th>
                <th class="span2">Denominazione</th>
                <th class="span2">Prezzo vendita</th>
                <th class="span2"> Gruppo attributi</th>
                <th class="span2">Categoria</th>
            </tr>
        </thead>
        <tbody>
            {%for item in articoli%}
            <tr class="first">
                <td> {{item.id}} </td>
                <td>{{item.denominazione}}</td>
                <td>{{item.prezzoVendita}}</td>
                <td>{{item.producibileId}}</td>
                <td>{{item.categoria}}</td>
                <td><a class="btn-flat primary" style="border-radius:2px; cursor:pointer; margin-right:18px; padding: 3px 5px 3px 3px;" href="ordine.html">Cambia</a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</section>
{% endblock %}