<!DOCTYPE html>

<html>
    <head>
    	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Amministratore</title>
        <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Amministratore{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('Amministratore/style/monitor.css') }}" rel="stylesheet" />
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
            <script src="{{ asset('Amministratore/js/base.js') }}"></script>
        {% endblock %}
  </head>
    <body>
    {% block body %}
        <header>
            {% block header%}
        	<img src="{{ asset('Operatore/src/prink.png')}}" id="logo">
        	<nav class="menu">
            {%endblock%}
        </header>
        <div class="conteiner">
	        <div class="aside">    
                    {% block aside %}  
                    <nav class="menu" id="laterale">
                        <ul>
                            <li><a href="{{ path('Ahome') }}"><img class="icon" src="{{ asset('Amministratore/src/home.ico')}}">Home</a></li>  
                            <li><a href="{{ path('Aarticoli') }}"><img class="icon" src="{{ asset('Amministratore/src/catalogo.ico')}}">Gestisci articolo</a></li>                 
                            <li><a href="{{ path('Aattributi') }}"><img class="icon" src="{{ asset('Amministratore/src/catalogo.ico')}}">Gestisci attributi</a></li> 	                        
                            <li><a href="{{ path('Acategorie') }}"><img class="icon" src="{{ asset('Amministratore/src/catalogo.ico')}}">Gestisci categoria</a></li>
                            <li><a href="{{ path('Aproducibili') }}"><img class="icon" src="{{ asset('Amministratore/src/catalogo.ico')}}">Gestisci producibili</a></li> 	                            
                        </ul> 
	            </nav>
                    {% endblock%}
	        </div>
	        <div id="corpo">
                {% block corpo %} 
                    <div class="span12">
                        <h4>Benvenuto Amministratore</h4>
                    </div>	        	 
	        {% endblock %}   
	        </div>
	        <footer>
            	<p> inprint s.r.l.</p>
	        </footer>
	    </div>
    </body>
    {% endblock %}
</html>
