{% extends "AppBundle:Amministratore:Abase.html.twig" %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset("Amministratore/js/salvaCategoria.js") }}"></script>
{% endblock %}
{% block title %}categoria{% endblock %}
    
{% block corpo %}
<div id="content">    
    <div class="span12" >
        <h4> Categoria - {{categoria.id}}</h4>
    </div>
    <section>
        <table>
            <tr>
                <td align="right">	        			    			
                    <a href="nuovocliente.html" id="modal_addclient" class="btn-flat primary" role="button" style="border-radius:2px;">Modifica</a>
                    <a onclick="elimina({{categoria.id}});" id="modal_addclient" class="btn-flat primary" role="button" disabled style="border-radius:2px;">Elimina</a>
                </td>
            </tr>
        </table>        
    </section>
    <section class="t1" >
        <table class="table table-hover">
            <thead> 
                <tr>
                    <th class="span2">Nome</th>
                    <th class="span2">Padre</th>
                    <th class="span2">Descrizione</th>
                    <th class="span2">Numero sottocategoria</th>
                    <th class="span2">Numero producibili</th>
                </tr>
            </thead>
            <tbody>
                <tr class="first">
                    <td>{{categoria.nome}}</td>
                    <td>{{categoria.CategoriaPadreId}}</td>
                    <td>{{categoria.descrizione}}</td>
                    <td>{{figli|length}}</td>
                    <td>{{producibili}}</td>						        
                </tr>
            </tbody>
        </table>										 
    </section>
    <div class="span12">
        <h4>figli</h4>
    </div>
    <section class="t1" >
        <table class="table table-hover">
            <thead> 
                <tr>
                    <th class="span2">Id</th>
                    <th class="span2">Nome</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {%for item in figli%}
                <tr class="first">
                    <td>{{item.id}}</td>
                    <td>{{item.nome}}</td>
                    <td><a class="btn-flat primary" href={{ path('Acategoria', {'idCategoria': item.id})}} >Apri</a></td>
                </tr>
            {%endfor%}	
            </tbody>
        </table>
    </section>
</div>
{% endblock %}