{% extends "AppBundle:Amministratore:Abase.html.twig" %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset("Amministratore/js/set.js") }}"></script>
{% endblock %}

{% block title %}Set attributi{% endblock %}

{% block corpo %}

<div id="content" class="container-fluid" style="">
    <div style="margin-top:20px;" align="center">
        <h3 style="font-weight: 300; margin-top:10px;">{{setAttributi.nome}}- Codice:{{setAttributi.id}}</h3>
    </div>
    <div style="margin-top:15px;" align="right">
        <a class="btn-flat success" onclick=elimina({{setAttributi.id}},{{producibili|length}}); style="border-radius:2px; cursor:pointer;"><i class="icon-mail-forward"></i>Elimina</a>
        <a class="btn-flat success"  style="border-radius:2px; cursor:pointer;"><i class="icon-mail-forward"></i> Modifica</a>
    </div>
    <table>
        <tbody>
            <tr valign="top">
                <td style="width: 1400px;" width="100%">
                    <table class="table table-hover">
                        <caption>
                            <h4> Attributi del Set</h4>   			
                        </caption>
                        <thead>
                            <tr>
                                <th class="span2">Codice</th>
                                <th class="span2"><span class="line"></span>Nome</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for item in Attributi%}
                            <tr class="first" style="font-size:14px; cursor:pointer; ">
                                <td>{{item.id}}</td>
                                <td>{{item.nome}}</td>
                            </tr>
                            {%endfor%}							    			
                        </tbody>
                    </table>
                        <table class="table table-hover">
                        <caption>
                            <h4>Producibili che utilizzano il Set</h4>   			
                        </caption>
                        <thead>
                            <tr>
                                <th class="span2">Attributi</th>
                                <th class="span2"><span class="line"></span>Nome</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for item in producibili%}
                            <tr class="first" style="font-size:14px; cursor:pointer; ">
                                <td>{{item.id}}</td>
                                <td>{{item.nome}}</td>
                                <td><a class="btn-flat primary" style="border-radius:2px; cursor:pointer; margin-right:18px; padding: 3px 5px 3px 3px;" href={{ path('Aproducibile', {'idProducibile': item.id})}}>Apri</a></td>
                            </tr>
                            {%endfor%}							    			
                        </tbody>
                    </table>
                </td> 
            </tr>
        </tbody> 
    </table>
</div>	
{% endblock %}