{% extends "AppBundle:Amministratore:Abase.html.twig" %}

{% block stylesheets %}
    {{parent()}}
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
{% endblock %}


{% block title %}Nuovo Set-attributi{% endblock %}

{% block corpo %}
<section class="top">
    <h4>Nuovo Set </h4>
</section>
<section class="form">
    <table>
        <form action="{{ path('AcreaSet',{"numValori": attributi|length}) }}" method="post">
            <tbody>
                <tr valign="top">
                    <td height="260" width="285">
                        <div id="cont"> 
                            <div class="field-box">
                                <label>Nome :</label>
                                <input name="name" id="nome" value="" placeholder="" class="span6" style="width:240px" type="text" >
                            </div>
                            <div class="field-box" id="divNum">
                                <label>Attributi:</label>
                                <fieldset>
                                    {% for item in attributi %}
                                     <input type="checkbox" name="{{loop.index}}" value="{{item.id}}"/> {{item.nome}} <br />
                                    {%endfor%}
                                </fieldset>
                            </div>
                            <input type="submit"  class="btn-flat primary"  />
                        </div>
                    </td>
                </tr>
            </tbody>
        </form>
    </table>
</section>
{% endblock %}