{% extends "AppBundle:Amministratore:Abase.html.twig" %}

{% block title %}Nuova Producibile{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>

    <script src="{{ asset("Amministratore/dist/jstree.min.js") }}"></script>
    <script src="{{ asset("Amministratore/js/salvaProducibile.js") }}"></script>
     <script src="{{ asset("Amministratore/js/AlberoCategorieCheck.js") }}"></script>
{% endblock %}

{% block corpo %}

<section class="top">
	<h4>Nuovo Producibile</h4>
</section>
<section class="form" id="content">
    <table>
        <form method="post" action="" >
            <tbody>
                <tr valign="top">
                    <td>
                        <div class="field-box" id='divNome'>
                            <label>Nome :</label>
                            <input name="nome" id="nome" value="" placeholder="" class="span6" style="width:240px" type="text">
                        </div>
                        <div class="field-box" id='divDescrizione'>
                            <label>Breve descrizione:</label>
                            <input name="descrizione" id="descrizione" value="" class="span6" style="width:240px" type="text">
                        </div>	
                        <div class="field-box" id="divImmagine">
                            <label>Inserisci immaggine:</label>
                            <input name="immagine" type="file" id="immagine" value="" class="span6" style="width:240px" type="text">
                        </div>
                        <div class="field-box" id='divGruppo'>
                            <label>Seleziona Gruppo-Attributi:</label>
                            <select id="gruppo">
                                {%for item in Gruppi%}
                                <option value="{{item.id}}">{{item.nome}}</option>
                                {%endfor%}
                            </select>
                        </div>	
                    </td>
                </tr>
                <tr>
                    <td id="divAlbero">
                        <label>Seleziona Categorie:</label>
                        <div id="tree-container">
                            <!-- L'abero verrà caricato qui, non inserire codice in questo div -->
                        </div>
                        <div id="divCategorie"></div>
                    </td>
                </tr>
            </tbody>
            <a id="invia" type="submit" class="btn-flat primary" onclick=salva();>Invia</a>
        </form>	
    </table>
</section>
    <script>
        
        $("#divAlbero").toggle();
        $("#divImmagine").toggle();
        $("#divDescrizione").toggle();
        $("#divGruppo").toggle();
        $("#tree-container").on("select_node.jstree",function(evt, data){
            $("#invia").show();
            console.log("top:");  
            console.log($("#tree-container").jstree('get_top_checked'));
            console.log("bottom");
            console.log($("#tree-container").jstree('get_bottom_checked'));
            categorie=$("#tree-container").jstree('get_bottom_checked');
            temp="Categorie selezionate:  ";
            for(i=0 ; i < categorie.length ; i++){
                node = $('#tree-container').jstree(true).get_node(categorie[i]);
                temp=temp+"      "+node.text;
                
                categorie=categorie.concat(node.parents)
                
                }
            console.log(categorie);
            temp=temp + "</br> appartiene, inoltre a tutte le categorie superiori a quelle selezionate."
            $("#divCategorie").html(temp);
    }
      
);
    </script>
{% endblock %}
