		
{% extends "AppBundle:Amministratore:Abase.html.twig" %}

{% block javascripts %}
    {{parent()}}

    <script src="{{ asset("Amministratore/js/salvaProducibile.js") }}"></script>
{% endblock %}

{% block title %}Producibile id{% endblock %}

{% block corpo %}

<div class="content">
    <div id="sb-search" class="sb-search">
        <form>
            <input class="sb-search-input" placeholder="Search" type="text" value="" name="search" id="search">
            <input class="sb-search-submit" type="submit" value="">
            <span class="sb-icon-search"></span>
            <script src={{asset("Amministratore/js/uisearch.js")}}></script>
            <script>
                new UISearch( document.getElementById( 'sb-search' ) );
            </script>
        </form>
    </div>
    <div class="component2">
        <h2>Producibile - {{producibile.id}}</h2>
            <table>
                <thead>
                    <tr>
                        <th>Immagine</th>
                        <th>Descrizione</th>
                        <th>Compenso <br>grafico</br></th>
                        <th>Set <br>attributi</br></th>
                        <th>Numero <br>articoli</br></th>
                        <th></th>							
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="user-name">{{producibile.immagine}}</td>
                        <td class="user-email">{{producibile.descrizione}}</td>
                        <td class="user-phone">{{producibile.compensografico}}</td>
                        <td class="user-mobile">{{producibile.gruppoId}}</td>
                        <td id="articolo">{{articoli|length}}</td>
                    </tr>
                </tbody>
            </table>
            <h2>Articoli</h2>			
            <table>
                <thead>
                    <tr>
                        <th>Articoli</th>									
                        <th></th>							
                    </tr>
                </thead>
                <tbody>
                        {%for item in articoli%}
                    <tr>
                        <td class="user-name">{{item.id}}</td>
                        <td><a class="btn-flat primary" style="border-radius:2px; cursor:pointer; margin-right:18px; padding: 3px 5px 3px 3px;">Seleziona</a></td>
                    </tr>
                        {%endfor%}
                </tbody>
            </table>
                
            <h2>Categorie</h2>			
            <table>
                <thead>
                    <tr>
                        <th>Articoli</th>									
                        <th></th>							
                    </tr>
                </thead>
                <tbody>
                        {%for item in categorie%}
                    <tr>
                        <td class="user-name">{{item.id}}</td>
                        <td><a class="btn-flat primary" style="border-radius:2px; cursor:pointer; margin-right:18px; padding: 3px 5px 3px 3px;">Seleziona</a></td>
                    </tr>
                        {%endfor%}
                </tbody>
            </table>    
                
            <div class="box bg-3">
                <button class="button button--nanuk button--border-thin button--round-s">
                    <span>E</span><span>l</span><span>i</span><span>m</span><span>i</span><span>n</span><span>a</span>
                </button>
                <button class="button button--nanuk button--border-thin button--round-s">
                    <span>M</span><span>o</span><span>d</span><span>i</span><span>f</span><span>i</span><span>c</span><span>a</span>
                </button>
                <script src={{asset("Amministratore/js/uisearch.js")}}></script>
                <script src={{asset("Amministratore/js/classie.js")}}></script>                
                <script>
                    new UISearch( document.getElementById( 'sb-search' ) );
                </script>
            </div>			
    </div>
</div>
{% endblock %}