<h4>{{attributo.Nome}}</h4>
<div class="col-xs-12">
    <div class="feature-slick slick slick-initialized slick-slider" id="11360">
        <div aria-live="polite" class="slick-list draggable">
            <div class="slick-track" style="opacity: 1; width: 236px; left: 0px;" role="listbox">
                <div class="item col-xs-6 col-sm-3 col-md-1-5th  slick-slide slick-current slick-active" id="11362" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide10" style="width: 118px;">
                    <div class="field-box" align="left">                                    
                        <div style="width: 254px" class="select2-container select2"> 
                            <select name="pval{{precedente}}" style="width: 254px;" class="select2" id="pval{{precedente}}">
                            {%for item in valori%}
                                <option value={{item.idvalore}}>{{item.valore}}</option>
                            {%endfor%}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
